.button {
  display: block;
  width: 100%;
  padding: 10px 15px 9px;
  background-color: $color-alice-blue;
  font-family: $montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $color-tangaroa;
  text-align: center;
  border: none;
  cursor: pointer;

  &--booking {
    padding: 11px 15px 10px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(0 0 7px $color-alice-blue);
    transition: 0.3s;
  }

  &:active {
    filter: drop-shadow(0 0 7px $color-alice-blue);
    transition: 0.3s;
    opacity: 0.7;
  }
}
